<main>
     <section id="welcome">
        <header>
            <a href="#">
                <img src="/assets/svg/oba_white.svg" alt="OBA Logo" class="logo">
            </a>
            <h2>MusicFinder</h2>
        </header>
        <h1>Album not found :/</h1>
        <div id="finder" class="active">
            <div class="finder-controls">
                <button data-start>Scan Barcode</button>
            </div>
        </div>
    </section>
</main>